<h1><b>Welcome to Online Employee Information Portal</b ></h1>
<form action="http://localhost:3000/posts/new">
  Username: <input type="text" name="user"><br>
  Password: <input type="password" name="admin"><br>
  <input type="submit" value="LogIn">
</form>